<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumpster FIRE - Profile</title>
    <link rel='stylesheet' href='/stylesheets/aboutUs.css' />

</head>
<body>
    <div class="wrapper">
        <div class="nav">
            <div class="nav-items">
                <a href="/login">
                    <li>Go back to login</li>
                </a>
            </div>
        </div>
        <div class="content">
            <h1 id= "aboutUsHeading">Welcome to DUMPSTER FIRE</h1>
            <p id = "aboutUsPara">
              Dumpster Fullness Indicator for Routing Expediently or Dumpster F.I.R.E is a project that is designed to use 
              a wireless system to track the fullness of the dumpsters which will in turn help the hauling companies make efficient 
              choices when picking them up. The dumpster fullness will be tracked using sensors, and wireless communication will be
            done using MLinks. MLink is a modem made by <a href= "https://aurorawirelessnetworks.com/">Aurora Wireless Networks</a> and
             it will be used to carry out all the data transfers. One base will be connected to multiple endpoints 
             (one endpoint per dumpster), and the endpoints will send data to the base which then will be retrieved in the server side 
             of the program. Our plan also includes providing a optimized route for the drivers. For more information, please
            contact us and will be happy to answer all your questions. To learn more about MLink and Aurora, 
            please visit their webpage.</p>
            <h2 id = "contacts">Contacts</h2>
            <ul>
                <li>Kazi Ashfaq: <a href="mailto:shababashfaque841@gmail.com">Email now</a></li>
                <li>Jonathan Yee: <a href="mailto:webber989@gmail.com">Email now</a></li>
                <li>Kavinda Gamage: <a href="mailto:harindu95dilshan@gmail.com">Email now</a></li>
            </ul>
            
        </div>
    </div>

</body>
</html>