<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumpster FIRE - Profile</title>
    <link rel='stylesheet' href='/stylesheets/mainMenu.css' />

</head>
<body>
    <div class="wrapper">
        <div class="nav">
            <div class="nav-items">
                <a href="/login">
                    <li>Go back to login</li>
                </a>
            </div>
        </div>
        <div class="content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lorem leo, commodo eget ante quis, mattis iaculis eros. Vestibulum dictum velit id lacinia ultrices. Phasellus tempor eu mi vel posuere. Donec commodo eros eu aliquet dapibus. Pellentesque iaculis hendrerit ex, eget condimentum quam varius vitae. Ut vehicula, lectus eu molestie eleifend, tortor ante accumsan nisi, id hendrerit ipsum purus sed augue. Aliquam lobortis lacinia nisi, vel molestie ipsum egestas ut. Ut ultrices metus urna. Phasellus posuere nunc non ornare ullamcorper. Praesent pretium pellentesque porta. Fusce ac velit id lorem auctor gravida. Donec et pharetra lacus, non vestibulum augue. Suspendisse ut fermentum felis. Nam pellentesque volutpat orci, sed interdum purus sollicitudin sed. Quisque scelerisque tincidunt luctus. 

            </p>
            <img src="/images/dumpster_welcome.jpg" />
        </div>
    </div>

</body>
</html>