<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumpster FIRE - Profile</title>
    <link rel='stylesheet' href='/stylesheets/dumpster.css' />
   
</head>

<body>
    <div class="header">
        <h1 class="title"> Dumpster FIRE </h1>
    </div>
    <div class="wrapper">
        <%- include('nav.ejs') %>
        <div class="content">
            <h1 class="title">Dumpster Information </h1>
            <div class="container">
                
                <div class="col-3">
                <div class="form">
                    <div class="col-1">
                        <label for="">Location: </label>
                        <label for="">Designated Driver: </label>
                        <label for="">Fullness Status: </label>
                        <label for="">Battery Status: </label>
                        <label for="">Estimated fill up date: </label>
                    </div>

                    <div class="col-2">
                        <label for="">Calgary </label>
                        <label for="">Ryan H. </label>
                        <label for="">50% </label>
                        <label for="">80% </label>
                        <label for="">2020/11/20</label>
                    </div>
                </div>
                <div class="btn-container">
                    <button class="btn apply">Add/Change Driver</button>
                    <button class="btn cancel">Alert Driver</button>
                </div>
            </div>
                <img src="/images/chart.jpeg" alt="">
                
            </div>
            
            

        </div>
    </div>
</body>

</html>