<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumpster FIRE - Profile</title>
    <link rel='stylesheet' href='/stylesheets/aboutUs.css' />
    <link rel='stylesheet' href='/stylesheets/button.css' />

</head>

<body>
    <div class="wrapper">
        <div class="nav">
            <div class="nav-items">
                <a href="/login">
                    <li>Go back to login</li>
                </a>
            </div>
        </div>
        <div class="content">
            <h1 id = "getEmailH1">Enter your email</h1>
           
           <div id = "getEmail">
            <form action="/forgetPassword" method="POST">
                <input class="row-1" type="text" name="email" id="userEmail"  placeholder = "abc@example.com"><br><br>
                <input class="btn" type="submit" value="Send email">  
              
            </form>
        </div>
          
            
        </div>
    </div>
    
</body>

</html>