<script>
    function toggleMenu(){
        $('.nav').toggleClass('toggle-nav');
    }
</script>

<div class="header">
    <div class="top-bar">
        <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
            <i class="menu-icon fa fa-bars"></i>
          </a>
        <h1 class="main-title">Dumpster FIRE</h1>
        
    </div>
    
</div>