<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumpster FIRE - Profile</title>
    <link rel='stylesheet' href='/stylesheets/profile.css' />

</head>

<body>
    <div class="header">
        <h1 class="title"> Dumpster FIRE </h1>
    </div>
    <div class="wrapper">
        <%- include('nav.ejs') %>
        <h1>Welcome to DFIRE</h1>
            

        </div>
    </div>
</body>

</html>