<div class="nav">
    <a href="/profile">
        <div class="thumbnail">
            <img src="/profile/image/<%=User.UserID %>" alt="" class="profile-img">
        </div>
    </a>
    <div class="nav-items">
        <a href="/mainMenu">
            <li>Main Menu</li>
        </a>
        <% if (User.Role == "Admin" || User.Role == "Manager") { %>
        <a href="/dumpster/map">
            <li>Dumpster Map</li>
        </a>
        <% } %>
        <% if (User.Role == "Admin" || User.Role == "Manager") { %>
        <a href="/user/list">
            <li>User List</li>
        </a>
        <% } %>
        <% if (User.Role == "Admin" || User.Role == "Manager") { %>
            <a href="/depot/list">
                <li>Depot List</li>
            </a>
            <% } %>
        <a href="/routes">
            <li>Routes</li>
        </a>
        <a href="/logout">
            <li>Logout</li>
        </a>
    </div>
</div>