<div class="nav">
    <a href="/profile"><img src="/images/profile.png" alt="" class="profile-img"></a>
    <div class="nav-items">
        <a href="/map"><li>Dumpster Map</li> </a>
        <a href="/users"><li>User Management</li> </a>
        <a href="/routes"><li>Routes</li> </a>
        <a href="/logout"><li>Logout</li> </a>
    </div>
  </div>