<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumpster FIRE - Profile</title>
    <link rel='stylesheet' href='/stylesheets/profile.css' />

</head>

<body>
    <div class="header">
        <h1 class="title"> Dumpster FIRE </h1>
    </div>
    <div class="wrapper">
        <%- include('nav.ejs') %>
        <div class="content">
            <h1 class="title">My Profile </h1>
            <div class="container">
                <div class="col-1">
                    <img src="/images/profile.png" alt="" class="my-profile-img">
                    <button class="btn upload-btn">Upload photo</button>
                </div>

                <div class="form">
                    <div class="col-2">
                        <label for="">Staff ID: </label>
                        <label for="username">Username: </label>
                        <label for="">Password: </label>
                        <label for="">Phone: </label>
                        <label for="">Email: </label>
                        <label for="">Address: </label>
                    </div>

                    <div class="col-3">
                        <label for="">sdfsf </label>
                        <input type="text" name="username" id="username">
                        <input type="password" name="" id="password">

                        <input type="text" name="phone" id="phone">
                        <input type="text" name="email" id="email">
                        <textarea name="address" id="address" rows="5">
                    2342,&#13;&#10;12 th Street,&#13;&#10;Calgary, AB
                </textarea>
                    </div>
                </div>
                <div class="col-4">
                </div>
            </div>
            <div class="btn-container">
                <button class="btn apply">Apply</button>
                <button class="btn cancel">Cancel</button>
            </div>
            

        </div>
    </div>
</body>

</html>