<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumpster FIRE - Profile</title>
    <link rel='stylesheet' href='/stylesheets/resetPass.css' />
    <link rel='stylesheet' href='/stylesheets/button.css' />

</head>

<body>
    <div class="wrapper">
        <div class="nav">
            <div class="nav-items">
                <a href="/login">
                    <li>Go back to login</li>
                </a>
            </div>
        </div>
        <div class="content">
            <h1 id = "resetPageH1">Reset your password</h1>
            <div id = "resetForm">
                <form action="/forgetPassword" method="POST">
                <input class="row-1" type="password" name="newPass" id="newPass"  placeholder = "Password"><br><br>
                <input class="row-1" type="password" name="cnfPass" id="cnfPass"  placeholder = "Confirm password"><br><br>
                <input type = "hidden" name = "user" value = "<%= userId %>">
                <input class="btn" type="submit" name = "resetPass" value="Update password">  
                </form>
            </div>
        </div>
    </div>
    
</body>

</html>
        
           
        
        
            

        
    
