<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumpster FIRE - User Management</title>
    <link rel='stylesheet' href='/stylesheets/user_list.css' />

</head>

<body>
    <div class="header">
        <h1 class="title"> Dumpster FIRE </h1>
    </div>
    <div class="wrapper">
        <%- include('nav.ejs') %>
        <div class="content">
            <div class="col-1">
                <h2 class="title">Search</h2>
                <div class="form">
                    <div class="labels">
                        <label for="username">Username: </label>
                        <label for="role">Role</label>
                     </div>

                    <div class="fields">   
                        <input type="text" name="username" id="username" placeholder="*">
                        <input type="text" name="role" id="role" placeholder="*">
                   </div>
                </div>
                <div class="btn-container">
                    <button class="btn search">Search</button>
                    <button class="btn reset">Reset</button> 
                </div>
            </div>
            <div class="col-2">
                <h2 class="title">User List</h2>
                <table style="width:100%">
                    <tr>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>EMail</th>
                      <th>Role</th>
                    </tr>
                    <tr>
                      <td>Jill</td>
                      <td>Smith</td>
                      <td>abc@gmail.com</td>
                      <td>Driver</td>
                    </tr>
                    <tr>
                      <td>Eve</td>
                      <td>Jackson</td>
                      <td>abc@gmail.com</td>
                      <td>Driver</td>
                    </tr>
                    <tr>
                        <td>Eve</td>
                        <td>Jackson</td>
                        <td>abc@gmail.com</td>
                        <td>Driver</td>
                      </tr>
                      <tr>
                        <td>Eve</td>
                        <td>Jackson</td>
                        <td>abc@gmail.com</td>
                        <td>Driver</td>
                      </tr>
                      <tr>
                        <td>Eve</td>
                        <td>Jackson</td>
                        <td>abc@gmail.com</td>
                        <td>Driver</td>
                      </tr>
                      <tr>
                        <td>Eve</td>
                        <td>Jackson</td>
                        <td>abc@gmail.com</td>
                        <td>Driver</td>
                      </tr>
                      <tr>
                        <td>Eve</td>
                        <td>Jackson</td>
                        <td>abc@gmail.com</td>
                        <td>Driver</td>
                      </tr>
                  </table> 
            </div>
        </div>
    </div>
</body>

</html>