@import 'userList.css';

.input{
    padding: 10px;
}

.input h2 {
    margin: 5px;
}

#autocomplete{
    /* width: 100%; */
}

div.background{
    z-index: 1;
    position: absolute;
    top: 50px;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    width: 80%;
    display:none;    
}

div.input{
    margin: 200px auto;
    width: max-content;
    background-color: white;
}

.toolbar {
    margin: 10px;
}
