body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 200px auto;
    height: calc(100vh - 44px);
    width: 100%;
}

.content {
    padding: 10px;
    border: 1px solid gray;
}

.header .top-bar{
    background-color: #438afc;
    /* text-align: center; */
    display: flex;
}

.toggle-nav {
    display: block;
}

.header .menu-icon{
    left: 0;
    margin: 10px;
    font-size: 30px;   
    display:none;
    color:black;
}

.header .main-title {    
    font-size: 20px;
    font-weight: 400;
    color: white;    
    margin: 0 auto;
    padding: 10px;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        grid-template-columns: auto;
    }

    .header .menu-icon{
        display: block;
    }

    .toggle-nav {
        display: block !important;
    }
}

