@import 'button.css';

body {
    background-color: #ffe3;
    background-image: url('/images/login.jpg');
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapper {
    margin: 250px auto;
    border: 2px solid #8080804f;
    border-radius: 20px;
    width: 400px;
    background-color: white;
}

.title {
    font-size: 34px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper form {
    padding-bottom: 20px;
    margin: 0 auto;
    font-size: 16px;
    width: 80%;
}

.wrapper form input {
    box-sizing: border-box;
    margin: 10px;
    width: 90%;
    padding: 10px;
    border: 1px solid gray;
}

.wrapper .btn {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wrapper .message {
    color: red;
    font-size: 14px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        margin: 100px auto;
        height: 100%;
    }

    body {
        max-height: 100vh;
        background-image: none;
    }
}
