@import 'nav.css';
@import 'layout.css';

.content {
    padding: 100px;
    margin: 0 auto;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgb(180, 200, 216);
}

#dumpsterReport {
    border-radius: 2px;
    border: solid black;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
@media only screen and (max-width: 400px) {



}