@import "nav.css";
@import "layout.css";
@import "button.css";


.my-profile-img {
    width:200px;
    border-radius: 50%;
    border: 2px solid white;
}

.content {
    padding: 20px;
}

.container{
    display: grid;
    grid-template-columns: 250px auto auto ;
    grid-column-gap: 20px;
}

.container label {
    margin: 12px 0;
    display: block;
}
.container input {
    margin: 10px 0;
    display: block;
    width: 100%;
}

.container #address{
    padding: 5px;
    width: 100%;
}

.form {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    max-width: 300px;
}

.btn-container{
    padding: 20px;
}

@media only screen and (max-width: 750px) {

    .container{
        display: block;
    }
   

   

}