@import 'nav.css';
@import 'layout.css';

@import 'button.css';

.content {
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 20px;
    /* background-color: rgb(247, 249, 252); */
    background-color: rgb(180, 200, 216);
}

.col-1,
.col-2 {
    /* border: 1px solid gray; */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.col-2 {
    overflow-y: auto;
}
.col-2 table {
    text-align: left;
}

th {
    border-bottom: 1px solid gray;
    /* background-color: rgba(17, 52, 150, 0.671); */
    /* color: white; */
    padding: 20px;
}

tr:nth-child(even) {
    background-color: rgb(180, 200, 216, 0.7);
}

td {
    padding: 20px;
}

tr:nth-child(odd) {
    background-color: rgb(180, 200, 216, 0.3);
}

tr:hover {
    background-color: rgb(180, 200, 216, 1);
}

tr:nth-child(1) {
    background-color: rgb(180, 200, 216, 0.3);
}

.form {
    display: grid;
    grid-template-columns: auto auto;
}

.form label {
    display: block;
    margin: 10px;
}

.form input {
    display: block;
    margin: 10px;
    width: 80%;
}

a {
    text-decoration: none;
}

a.btn {
    display: inline-block;
}

@media only screen and (max-width: 900px) {
    .content {
        display: block;
        /* width: 100%; */
    }
}

@media only screen and (max-width: 400px) {
    .content {
        display: block;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 40%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
	Label the data
	*/
    td:before {
        content: attr(data-title);
    }
}
